@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.merah {
  border: 1px solid red;
}

html>body {
  font-family: "Poppins", sans-serif;
}

/* Thin rounded scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a4a4a4;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes walking {
  0% {
    transform: translateX(-110%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(500%);
  }
}

.progress-starting {
  animation: walking 1s infinite linear;
}